$body-color: #F5F5F5;
$gradient-color-1: #00BCD4;
$gradient-color-2: #00E4BB;
$main-font-color: #FFF;
$dark-font-color: #333;
$light-font-color: #787b7e;
$mark-color: #27c1a6;
$line-color: #b1b1b1;
$error-color: #ff6464;